<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
        integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
           
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ORLANDO C. ASUNCION JR</a>
            </div>      
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
