<% include partials/header %>
<div class="container">
  <h1 class="about">About Me</h1>
  <div class="row">
    <div id="image" class="col-sm-12 col-md-12 ">
      <div class="center">
    <center><img class="responsive" src="/images/ProfilePic.jpg"</center>    
        <div class="caption-full">
          <h4>MBA, BSME, Full Stack Web Developer</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="content">
        <p> Orlando is self-motivated and reliable problem solver in a fast multidisciplinary environment. He approaches
          his works with confidence, analysis and solutions. In the same manner, he solved problems with a solution not
          with another problem. He investigates and gathers data before jumping to a conclusion. He likes to search and use all his
          resources to deliver a quality work.</p>

        <p>Orlando loves to learn new things, he never stop learning. He believes that education is a treasure and the
          only thing in life that cannot be stolen. He enrolled at the University of Miami Coding Boot Camp (Full Stack Web
          Developer) and recently graduated. He took Master in Business Administration(MBA) and Bachlor of Science in Mechanical
          Engineering(B.S.M.E).
        </p>

        <p>Orlando works in the semiconductor industry over two decades as a Sr. Facilities Technician. He
          practiced his profession as a Mechanical Engineer in the Philippines and Saudi Arabia prior to migrating to
          United States of America</p>

        <p>Orlando is a sports minded as well as wellness oriented individual. He plays golf, basketball, tennis and
          football.</p>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>