<% include partials/header %>
<h1>Portfolio Page!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/Project1.png" alt="Project1">                
                <a type="submit" href="https://orlan-asuncion.github.io/Project-MovieGifs/"></a>
                    <h4 class="caption-full">Project 1</h4>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/warehouseConnect.PNG" alt="Project1">
                <a type="submit" href="https://stormy-shore-25459.herokuapp.com"></a>
                <h4 class="caption-full">Project 2</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/valetpark.PNG" alt="Project1">
                <a type="submit" href="https://ez-valpark.herokuapp.com">
                    <h4 class="caption-full">Project 3</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/clicky.PNG" alt="Project1">
                <a type="submit" href="https://morning-spire-19779.herokuapp.com/">
                <h4 class="caption-full">Clicky Game</h4>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/Train-Activity.png" alt="Project1">
                <a type="submit" href="https://orlan-asuncion.github.io/Train_Activity_Basic/">
                <h4 class="caption-full">Train Activity</h4>
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/giftastic.png" alt="Project1">
                <a type="submit" href="https://orlan-asuncion.github.io/GifTastic/">                
                    <h4 class="caption-full">Giftastic</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/friends.PNG" alt="Project1">
                <a type="submit" href="https://intense-anchorage-11038.herokuapp.com">                
                    <h4 class="caption-full">Friend Finder</h4>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./images/Trivia.PNG" alt="Project1">
                <a type="submit" href="https://orlan-asuncion.github.io/TriviaGame/">
                <h4 class="caption-full">Trivia Game</h4>
                </a>
            </div>
        </div>
        <div class="col-md-4">
                <div class="thumbnail">
                    <img src="./images/crystalCollector.PNG" alt="Project1">
                    <a type="submit" href="https://orlan-asuncion.github.io/unit-4-game/">
                    <h4 class="caption-full">Crystal Collector Game</h4>
                    </a>
                </div>
            </div>           
    </div>
    <div class="row">
        <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="./images/Eat-Da-Burger.PNG" alt="Project1">
                        <a type="submit" href="https://hidden-river-95103.herokuapp.com/">
                        <h4 class="caption-full">Eat The Burger</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="./images/spotifyThis.png" alt="Project1">
                            <a href="https://orlan-asuncion.github.io/liri-node-app/"></a>
                            <h4 class="caption-full">Liri Node App</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="./images/bamazonCustomer.PNG" alt="Project1">
                                <a type="submit" href="https://orlan-asuncion.github.io/bamazon/">
                                <h4 class="caption-full">Bamazon Customer</h4>
                                </a>
                            </div>
                        </div>
    </div>
</div>




<% include partials/footer %>