body{
    padding: 0 auto;
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    font-family: Georgia, Times, "Times New Roman", serif; 
} 
.about {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 10px;
    color:white;
    text-transform: uppercase;   
  }
#image{
    position:relative;
   padding: 0 auto;
}

img{
    border:2px solid blue;
}
h4{
    text-align:center;
    text-transform: uppercase;
    color:blue;
    font-weight: 500;
}
.content{
    padding: 10px;

}
h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
footer{
    text-align: center;
}