body{
    padding: 0 auto;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    font-family: Georgia, Times, "Times New Roman", serif; 
} 
.about {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 10px;
    color:white;
    text-transform: uppercase;   
  }
#image img{
    position:relative;
    padding: 0 auto;
    border-radius: 50%;
    z-index: 1;
    width: 300px;
    height: auto;
    border: 2px solid blue;
}
h4{
    text-align:center;
    text-transform: uppercase;
    color:blue;
    font-weight: 500;
}
.content{
    padding: 10px;    

}
h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5vh;
}
media-home{
    display: inline;
   color:black;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  address { 
    display: block;
    font-style: italic;
    text-align: center;
  }
  /* Style the container/contact section */
  
  /* Create two columns that float next to eachother */
  .col-md-4{
    float: left;
    width: 30%;
    margin-top: 1.66%;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.footer{
    text-align: center;
    padding: 10vh;
}